{{usermail}}
<div class="card">    
    <div class="card-body">
      <h5 class="card-title">Reset Password</h5>
      <p class="card-text">Please enter your email to request password reset.</p>
      <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input [(ngModel)]="usermail" name="email" type="email" class="form-control" id="exampleInputPassword1">
      </div>
      <a (click)="forgotPassword(usermail)" class="btn btn-primary">Send  Email</a>
      
      <a routerLink="/signin" class="btn btn-primary">Log In</a>
    </div>

  </div>